.page {
  color: var(--text-color);
  font-family: var(--main-font, 'IBM Plex Mono', monospace);
  width: 100%;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "menu"
    "title"
    "subtitle";
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  margin-bottom: 40px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
  border-color: var(--nav-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
  border-color: var(--nav-color);
}

.header__rec {
  position: absolute;
  top: 13px;
  right: 38px;
  color: var(--decor-color);
  font-size: 18px;
  line-height: var(--main-line-height);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -19px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  color: var(--button-border-color);
  padding: 0.5px 12px;
  cursor: pointer;
  transition: border 0.3s;
  text-transform: lowercase;
  font-size: 18px;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-decoration-color: var(--button-border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--button-border-color);
}

.container {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto;
  display: grid;
  gap: 50px;
}

.main_section {
  display: grid;
  gap: 20px;
}

.main_section_gallery {
  display: grid;
  gap: 10px;
  margin-bottom: 40px;
}

.section__title {
  color: var(--decor-color);
  font-size: 18px;
  font-family: var(--main-font);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__subtitle {
  grid-area: subtitle;
  background-color: var(--subtitle-color);
  font-weight: bold;
}

.title-decor {
  display: block;
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
}

.article__text {
  font-family: var(--main-font, 'IBM Plex Mono', monospace);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--text-color);
  transition: border 0.3s, color 0.3s;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #F1B2CE;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.article__subtitle {
  font-weight: normal;
}

.header__title {
  grid-area: title;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 0.83;
}

.gallery__image {
  inline-size: 100%;
  display: block;
}

.footer {
  display: grid;
  place-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
}


@media (min-width: 768px) {

  .header {
    padding: 20px;
    margin-bottom: 60px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__rec {
    top: 22px;
    right: 50px;
  }

  .container {
    padding: 0 20px;
    gap: 80px;
  }

  .main_section_gallery {
    margin-bottom: 60px;
    gap: 20px;
  }

  .why-hard {
    grid-template-columns: 1fr 2fr;
  }

  .why-hard .section__title {
    grid-column: 1 / 2;
  }

  .why-hard .article {
    grid-column: 2 / 3;
  }

  .section__title {
    grid-column: 1 / -1;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__break {
    display: none;
  }

  .header__subtitle {
    max-width: 364px;
    justify-self: end;
    font-size: 18px;
    line-height: 23.4px;
  }

  .how-to-focus {
    grid-template-columns: 1fr 2fr;
  }

  .how-to-focus .section__title {
    grid-column: 1 / 2;
  }

  .main_section_gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .article__gallery-title {
    grid-column: 1 / -1;
  }

  .gallery__image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery__image:first-of-type {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(4) {
    grid-column: span 1;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: span 2;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    height: 100vh;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    align-self: end;
    font-size: 157px;
    margin-left: -20px;
  }

  .what-distracts {
    grid-template-columns: repeat(3, 1fr);
  }

  .what-distracts .section__title {
    grid-column: 1 / -1;
  }

  .header__subtitle {
    max-width: 491px;
  }
}